<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootApplicationRunner dev" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="crypt-info.main" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="io.github.astrapi69.crypt.info.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="io.github.astrapi69.crypt.info.SpringBootApplicationRunner" />
    <option name="ACTIVE_PROFILES" value="dev" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>